{% for product in products %}
  <a href="{% url 'product_details' product.id %}">
    <div class="col-sm-3">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <div class="product-images">
              {% if product.first_image %}
                <img src="{{ product.first_image.0.image.url }}" alt="{{ product.name }}" width="100px" height="100px" />
              {% else %}
                <p>No image available.</p>
              {% endif %}
            </div>
            <h2>${{ product.price }}</h2>
            <p style="margin-bottom: 15px;">{{ product.name }}</p>
            <div class="row" style="display: flex; margin:0px 20px; justify-content: space-between;">
              <a href="javascript:void(0)" onclick="addToCart({{ product.id }})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
{% empty %}
  <p>No products available in this category.</p>
{% endfor %}
