{% extends 'customer_portal/customer_base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <section style="margin-bottom: 18px; margin-top: 18px;">
    <!-- form -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="login-form">
            <!-- login form -->
            <h2>Login to your account</h2>
            <form method="post" action="{% url 'login_page' %}"> 
            {% comment %} <form method="post" id="user_login_form" onsubmit="event.preventDefault(); userLogin();"> change this line for DRF API {% endcomment %}
              {% csrf_token %}
              <input type="text" id="username" name="username" placeholder="Username" />
              <input type="password" id="password" name="password" placeholder="Password" />
              <p class="mb-1">
                <a href="{% url 'password_reset' %}">I forgot my password</a>
              </p>
              <div style="display: flex; justify-content: space-between;">
                <button type="submit" class="btn btn-primary">Login</button>
                {% comment %} <button type="submit" class="btn btn-primary">Login</button> change this line for DRF API {% endcomment %}
                <div class="g_id_signin" data-type="standard" style="margin-top: 23px;"></div>
              </div>
              <!-- Display error message if any -->
            </form>
          </div>
          <!-- /login form -->
        </div>
        <div class="col-sm-1">
          <h2 class="or">OR</h2>
        </div>
        <div class="col-sm-4">
          <div class="signup-form">
            <!-- sign up form -->
            <h2>New User Signup!</h2>
            <form method="post" action="{% url 'register_page' %}">
              {% csrf_token %}
              <input type="text" name="first_name" placeholder="First Name" />
              <input type="text" name="last_name" placeholder="Last Name" />
              <input type="text" name="username" placeholder="Username" />
              <input type="text" name="email" placeholder="Email Address" />
              <input type="password" name="password" placeholder="Password" />
              <input type="password" name="re_password" placeholder="Confirm Password" />
              <div class="password-requirements">
                <h5>Password Requirements:</h5>
                <ul>
                  <li>Your password must contain at least 8 characters.</li>
                  <li>Your password should not be a commonly used password.</li>
                  <li>Your password cannot be entirely numeric.</li>
                  <li>Your password should not be too similar to your username or personal information.</li>
                </ul>
              </div>
              <div style="display: flex; margin: auto; justify-content: space-between;">
                <button type="submit" class="btn btn-default">Signup</button>
                <div class="g_id_signin" data-type="standard"></div>
              </div>
              {% comment %} <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login with Google</a> {% endcomment %}
            </form>
          </div>
          <!-- /sign up form -->
        </div>
      </div>
    </div>
  </section>
  <!-- /form -->

  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload" data-client_id="873349130487-ggck2cvcga46cq323uf2044olnn31fk3.apps.googleusercontent.com" data-callback="handleCredentialResponse"></div>
  <script>
    function handleCredentialResponse(response) {
      $.ajax({
        url: '{% url "google-login" %}',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ token: response.credential }),
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        success: function (data) {
          // Handle success or error
          console.log(data)
          if (data.success) {
            // Redirect or update UI
            window.location.href = '/'
          } else {
            // Handle errors
            toastr.error(data.message || 'Login failed!')
          }
        },
        error: function (xhr, status, error) {
          console.error('Error:', error)
          toastr.error('An error occurred during login. Please try again.')
        }
      })
    }
    
    {% comment %} function userLogin() {
      var username = $('#username').val()
      var password = $('#password').val()
    
      if (!username) {
        toastr.error('Username cannot be empty.')
        return
      }
      if (!password) {
        toastr.error('Password cannot be empty.')
        return
      }
    
      var serializedData = $('#user_login_form').serializeArray()
    
      $.ajax({
        url: '{% url "login_api" %}',
        type: 'POST',
        data: serializedData,
        success: function (data) {
          if (data.success) {
            window.location.href = '/'
          } else {
            if (data.message) {
              Object.keys(data.message).forEach(function (field) {
                toastr.error(data.message[field].join(' '))
              })
            } else {
              toastr.error('Login failed')
            }
          }
        },
        error: function (xhr, status, error) {
          console.log('Error', error)
          toastr.error('An error occurred during login. Please try again.')
        },
        complete: function () {
          // Hide loading indicator
        }
      })
    } {% endcomment %}
  </script>

  <script>
  {% if messages %}
    {% for message in messages %}
      toastr.{{ message.tags }}("{{ message }}");
    {% endfor %}
  {% endif %}
  </script>
{% endblock %}
