{% extends 'customer_portal/customer_base.html' %}

{% block title %}
  Order Not Found
{% endblock %}

{% block content %}
  <section id="order_not_found">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Order Not Found</h1>
          <p>Sorry, the order you are looking for does not exist or you do not have permission to view it.</p>
          <a href="{% url 'home_page' %}" style="margin-bottom: 10px;" class="btn btn-primary">Back to Home Page</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
