{% extends 'customer_portal/customer_base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  Order Successful
{% endblock %}

{% block content %}
  <div class="container">
    <section id="order-items" class="container" style="padding: 20px 0;">
      <div class="row">
        <div class="col-12 text-center mb-5" style="padding: 15px;">
          <h1 class="display-3 font-weight-bold" style="color: #28a745;">Order Placed Successfully</h1>
          <p class="lead" style="color: #6c757d;">Your order has been successfully placed. Below are the details of your purchase:</p>
        </div>
      </div>

      <!-- Order Details -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #007bff; color: white;">
              <h3 class="panel-title">Order Summary</h3>
            </div>
            <div class="panel-body">
              <!-- Order Number and Date -->
              <div class="row mb-4 align-items-center" style="justify-content: space-between; margin: auto;">
                <div class="col-md-6">
                  <p class="mb-0">
                    <strong>Order Number:</strong> {{ order.awb_no }}
                  </p>
                </div>
                <div class="col-md-6 text-md-right text-left">
                  <p class="mb-0">
                    <strong>Order Date:</strong> {{ order.created_at|date:'F j, Y' }}
                  </p>
                </div>
              </div>
              <!-- Order Items -->
              <div class="table-responsive mb-4">
                <table class="table">
                  <thead style="background-color: #f8f9fa;">
                    <tr>
                      <th colspan="2">Product</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in order.order_details.all %}
                      <tr>
                        <td style="width: 20px;">
                          {% with first_image=item.product.product_images.first %}
                            {% if first_image %}
                              <img src="{{ first_image.image.url }}" alt="{{ cart_product.product.name }}" width="50px" height="50px" />
                            {% else %}
                              <p>No image available</p>
                            {% endif %}
                          {% endwith %}
                        </td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.product.price|floatformat:2 }}</td>
                        <td>${{ item.quantity|multiply:item.product.price|floatformat:2 }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Order Totals -->
          <div class="row">
            <!-- Payment Details -->
            <div class="col-md-6">
              <div class="card border-success shadow mb-3">
                <div class="card-header bg-success text-white">
                  <h5 class="card-title mb-0"><i class="fas fa-credit-card"></i> Payment Details</h5>
                </div>
                <div class="card-body p-0">
                  <table class="table table-hover table-striped table-sm mb-0">
                    <tbody>
                      <tr>
                        <th scope="row">Payment Method:</th>
                        <td>{{ order.payment_gateway.name }}</td>
                      </tr>
                      {% if order.payment_id %}
                        <tr>
                          <th scope="row">Payment ID:</th>
                          <td>{{ order.payment_id }}</td>
                        </tr>
                      {% endif %}

                      {% if order.transaction_id %}
                        <tr>
                          <th scope="row">Transaction ID:</th>
                          <td>{{ order.transaction_id }}</td>
                        </tr>
                      {% endif %}
                      <tr>
                        <th scope="row">Payment Status:</th>
                        <td>
                          <span class="badge badge-success">{{ order.get_payment_status_display }}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Order Summary -->
            <div class="col-md-6">
              <div class="card border-info shadow mb-3">
                <div class="card-header bg-info text-white">
                  <h5 class="card-title mb-0"><i class="fas fa-receipt"></i> Order Summary</h5>
                </div>
                <div class="card-body p-0">
                  <table class="table table-hover table-striped table-sm mb-0">
                    <tbody>
                      <tr>
                        <th scope="row">Order Status:</th>
                        <td>
                          <span class="badge badge-warning">{{ order.get_status_display }}</span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Subtotal:</th>
                        <td>${{ sub_total|floatformat:2 }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Discount:</th>
                        <td>${{ discount_amount|floatformat:2 }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Total:</th>
                        <td>
                          <h4 class="text-success">${{ order.grand_total|floatformat:2 }}</h4>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Shipping and Billing Details -->
          <div class="row">
            <!-- Shipping Details -->
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #ffc107; color: white;">
                  <h3 class="panel-title">Shipping Information</h3>
                </div>
                <div class="panel-body">
                  <p>
                    <strong>Name:</strong> {{ order.user.first_name }} {{ order.user.last_name }}
                  </p>
                  <p>
                    <strong>Address:</strong> {{ order.shipping_address }}
                  </p>
                  <p>
                    <strong>City:</strong> {{ order.shipping_address.city }}
                  </p>
                  <p>
                    <strong>Postal Code:</strong> {{ order.shipping_address.pincode }}
                  </p>
                  <p>
                    <strong>Country:</strong> {{ order.shipping_address.country }}
                  </p>
                </div>
              </div>
            </div>

            <!-- Billing Details -->
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #28a745; color: white;">
                  <h3 class="panel-title">Billing Information</h3>
                </div>
                <div class="panel-body">
                  <p>
                    <strong>Name:</strong> {{ order.user.first_name }} {{ order.user.last_name }}
                  </p>
                  <p>
                    <strong>Address:</strong> {{ order.billing_address }}
                  </p>
                  <p>
                    <strong>City:</strong> {{ order.billing_address.city }}
                  </p>
                  <p>
                    <strong>Postal Code:</strong> {{ order.billing_address.pincode }}
                  </p>
                  <p>
                    <strong>Country:</strong> {{ order.billing_address.country }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <a href="{% url 'order_pdf' order.id %}" class="btn btn-primary" target="_blank">Download Order Summary as PDF</a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

<style>
  #order-items {
    background-color: #f8f9fa;
  }
  .panel {
    border-radius: 0.5rem;
    border-color: #ddd;
  }
  .panel-heading {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
  .panel-body {
    padding: 1.5rem;
  }
  .table th,
  .table td {
    text-align: center;
  }
  .font-weight-bold {
    font-weight: bold;
  }
  .text-success {
    color: #28a745 !important;
  }
</style>
