{% extends 'customer_portal/customer_base.html' %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
<style>

.product-information {
  background-color: #f8f9fa; /* Light background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding:  30px 40px 30px 40px;
}

.price-section {
  font-size: 1.2rem; /* Larger price font */
  font-weight: bold; /* Bold price */
}



</style>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="product-details">
            <!-- product-details -->
            <div class="col-sm-5">

              <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  {% for product_image in product.product_images.all %}
                    <li data-target="#slider-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %} class="active" {% endif %} ></li>
                  {% endfor %}
                </ol>

                <div class="carousel-inner">
                  {% for product_image in product.product_images.all %}
                    <div class="item {% if forloop.first %}active in{% endif %}">
                      <div class="row">
                        <div class="col-lg-12" style="width: 93%; height: 70vh;">
                          <img src="{{ product_image.image.url }}" class="girl img-responsive" style="height: 100%; width: 100%;" onclick="window.location.href = '{{product_image.url}}'" />
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>

                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next"><i class="fa fa-angle-right"></i></a>
              </div>
            </div>
            <div class="container mt-4">
              <div class="product-information py-4 px-3 border rounded shadow-sm">
                <!-- Product Name and Price -->
                <h2 class="text-primary">{{ product.name }}</h2>
                <div class="price-section mb-3">
                  <span class="text-success fw-bold h1 me-3">US ${{ product.price }}</span>
                </div>

                <!-- Quantity Input and Add to Cart Button -->
                <div class="d-flex align-items-center mb-3 quantity">
                  {% if product.quantity > 0 %}
                  <label for="quantity" class="me-2 fw-bold">Quantity:</label>
                  <input type="number" style="width: 50%;" class="form-control w-25 me-3" value="1" step="1" min="1" max="10" id="quantity" />
                  <button type="button" name="add_to_cart_btn" class="btn btn-primary d-flex align-items-center">
                    <i class="fa fa-shopping-cart me-2"></i>Add to cart
                  </button>
                  <span class="btn d-flex align-items-center" id="wishlist-icon" style="color: red; cursor: pointer;">
                    <i class="fa 
                      {% if in_wishlist %}
                          fa-heart
                      {% else %}
                          fa-heart-o
                      {% endif %} fa-2x"></i>
                  </span>
                  {% endif %} 
                </div>

                <!-- Product Rating -->
                <div class="mb-3">
                  <img src="{% static 'customer_portal/images/product-details/rating.png' %}" class="img-fluid" alt="Rating" />
                </div>

                <!-- Product Details -->
                <p><b>Availability:</b> 
                  {% if product.quantity > 0 and product.quantity <= 5 %}
                      <span class="text-warning">Only a few left in stock!</span>
                  {% elif product.quantity > 0 %}
                    <span class="text-success">In Stock</span>
                  {% else %}
                    <span class="text-danger">Out of Stock</span>
                  {% endif %}
                </p>
                {% if product.created_at|timesince < "10 days" %}
                  <p><b>Condition:</b> New</p>
                {% else %}
                  <p><b>Condition:</b> Old</p>
                {% endif %}
                <!-- Product Attributes -->
                  <div class="row">
                    {% for attribute in product.product_attribute.all %}
                      <div class="col-md-6">
                        <h4>
                          {{ attribute }}
                        </h4>
                        <div class="attribute-values" style="display: flex; flex-wrap: wrap;">
                          {% for attribute_value in attribute.product_attribute_key.all %}
                            <div class="attribute-value-item" style="border: 1px solid #ddd; border-radius: 5px; padding: 8px 15px; margin: 5px; font-size: 14px; color: #FFFFFF; background-color: cadetblue;">
                              {{ attribute_value }}
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
              </div>
            </div>
              <!-- /product-information -->
            </div>
          </div>
        </div>
        {% include 'customer_portal/recommended_items_carousel.html' with chunked_products=chunked_products image_width='160px' image_height='160px' %}
      </div>
    </div>
  </section>

  <script>  
    $(document).ready(function() {
      $('button[name="add_to_cart_btn"]').on('click', function() {
        const quantity = document.getElementById('quantity').value;
        
        function isValidQuantity(value) {
          const number = parseInt(value, 10);
          return !isNaN(number) && number > 0;
        }

        if (!isValidQuantity(quantity)) {
          toastr.error('Please enter a valid positive number for quantity.');
          return;
        }

        // Check for float
        function isFloat(value) {
            const num = Number(value);
            // Check if it's a number and if it has a decimal part
            return !isNaN(num) && num % 1 !== 0;
        }

        if (isFloat(quantity)) {
          toastr.error('Please enter a valid number for quantity, not a decimal.');
          return;
        }

        const productId = {{ product.id }};

        // Fetch category-wise products
        $.ajax({
          url: '/add-cart/'+ productId,
          type: 'POST',
          data: {
            quantity:parseInt(quantity, 10),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            },
          success: function (response) {
            if (response.status=='success'){
              var productDetailsUrl = "{% url 'product_details' 0 %}".replace('0', productId);
              toastr.success(response.msg);
              setTimeout(function(){window.location.href = productDetailsUrl;},1000)
            }else{
              toastr.error(response.msg)
            }
          },
          error: function (xhr, status, error) {
            console.error('Error fetching products:', error)
          }
        })
      });
    });

    function handleWishlist(action, productId, iconElement) {
        // Define the URL based on the action
        const url = action === 'add' ? `/add-wishlist/${productId}` : `/remove-wishlist-item/${productId}/`;
        console.log('url: ', url)
        
        // Determine the appropriate success message and icon classes
        const successMsg = action === 'add' ? "Item Added to Wishlist Successfully" : "Item removed from wishlist";
        const newIconClass = action === 'add' ? 'fa-heart' : 'fa-heart-o';
        const newColor = action === 'add' ? 'red' : 'grey';

        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},  
            success: function(response) {
                if (response.status === 'success') {
                    $(iconElement).removeClass('fa-heart fa-heart-o').addClass(newIconClass);  // Toggle heart icon
                    $(iconElement).closest('span').css('color', newColor); 
                    toastr.success(successMsg); 
                } else {
                    toastr.error(response.msg); 
                }
            },
            error: function(xhr, status, error) {
                toastr.error('An error occurred while processing your request.');
            }
        });
    }

    $('#wishlist-icon').on('click', function() {
        var icon = $(this).find('i');  
        var productId = {{product.id}}

        if (icon.hasClass('fa-heart')) {
          handleWishlist('remove', productId, icon);
        } else {
          handleWishlist('add', productId, icon);
        }
    });
  </script>
{% endblock %}
