{% extends 'admin_panel/base.html' %}
{% block title %}
  Add Banner
{% endblock %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Banner</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                  <!-- Display non-field errors -->
                  {% if form.non_field_errors %}
                    <div class="text-danger">
                      <ul class="list-unstyled mb-0">
                        {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}

                  <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">Title:</label>
                    {{ form.title }}
                    {% if form.title.errors %}
                      <div class="text-danger mt-2">{{ form.title.errors }}</div>
                    {% endif %}
                  </div>

                  <div class="form-group">
                    <label for="{{ form.image.id_for_label }}">Image:</label>
                    {% if form.instance.image %}
                      <!-- Display the current image if one exists -->
                      <div class="mb-2">
                        <img id="current-image" src="{{ form.instance.image.url }}" alt="Current image" onclick="openPreview('{{ form.instance.image.url }}')" class="img-thumbnail" style="max-width: 200px;" />
                      </div>
                    {% endif %}
                    {{ form.image }}
                    {% if form.image.errors %}
                      <div class="text-danger mt-2">{{ form.image.errors }}</div>
                    {% endif %}
                  </div>

                  <div class="form-group">
                    <label for="{{ form.url.id_for_label }}">URL:</label>
                    {{ form.url }}
                    {% if form.url.errors %}
                      <div class="text-danger mt-2">{{ form.url.errors }}</div>
                    {% endif %}
                  </div>

                  <div class="form-group">
                    <label for="{{ form.display_order.id_for_label }}">Display Order:</label>
                    {{ form.display_order }}
                    {% if form.display_order.errors %}
                      <div class="text-danger mt-2">{{ form.display_order.errors }}</div>
                    {% endif %}
                  </div>

                  <div class="form-group">
                    <label for="{{ form.is_active.id_for_label }}">Active:</label>
                    <!-- Display Switch for the 'status' field -->
                    <input type="checkbox" id="{{ form.is_active.id_for_label }}" name="{{ form.is_active.name }}"
                          {% if form.is_active.value %}checked{% endif %}
                          data-bootstrap-switch data-off-color="danger" data-on-color="success"
                          data-on-text="Enabled" data-off-text="Disabled">
                    {% if form.is_active.errors %}
                        <div class="text-danger mt-2">{{ form.is_active.errors }}</div>
                    {% endif %}
                  </div>

                  <div class="card-footer mt-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'all_email_templates' %}" class="btn btn-secondary">Cancel</a>
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- Image preview -->
  <div class="modal fade" id="modal-preview">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h4 class="modal-title">Image preview</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <img src="" id="image-content" alt="" style="max-height: 300px;max-width: 100%; justify-content: center;" />
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- Image preview -->

  <script>
    function openPreview(src) {
      $('#image-content').attr('src', src)
      $('#modal-preview').modal('show')
    }

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    })
  </script>
{% endblock %}
