{% extends 'admin_panel/base.html' %}
{% block title %}
  Add Banner
{% endblock %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Banner</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="container">
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">{{ form.as_p }}</div>
                  <!-- Display the current image -->
                  {% if form.instance.image %}
                    <div class="form-group">
                      <label for="current-image">Current Image:</label>
                      <div>
                        <img src="{{ form.instance.image.url }}" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
                      </div>
                    </div>
                  {% endif %}
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'all_email_templates' %}" class="btn btn-secondary">Cancel</a>
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
