{% extends 'admin_panel/base.html' %}
{% block title %}Category{% endblock %}

{% block content %}
  <div class="content-wrapper">
      <section class="content-header">
          <div class="container-fluid">
              <div class="row mb-2">
                  <div class="col-sm-6">
                      <h1>Categories</h1>
                  </div>
              </div>
          </div>
      </section>

      <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6">
                        <a href="{% url 'add_category' %}" class="btn btn-info mb-3">Add Category</a> 
                      </div>
                    </div>
                    <!-- Root Categories -->
                    {% for category in categories %}
                      <div class="card card-outline card-primary collapsed-card">
                        <div class="card-header">
                          <h3 class="card-title">{{ category.name }}</h3>
                          <div class="card-tools">
                            {% if category.sub_cat %}
                              <button type="button" class="btn btn-tool text-dark" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                              </button>
                              <button type="button" class="btn btn-tool text-dark" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                              </button>
                              <a href="{% url 'update_category' category.id %}" class="btn btn-info btn-sm mr-2 edit-btn"><i class="fa fa-edit"></i></a> 
                              <button class="btn btn-danger btn-sm delete-btn" data-id="{{category.id}}"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            {% else %}
                              <a href="{% url 'update_category' category.id %}" class="btn btn-info btn-sm mr-2 edit-btn"><i class="fa fa-edit"></i></a> 
                              <button class="btn btn-danger btn-sm delete-btn" data-id="{{category.id}}"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            {% endif %}
                            </div>
                          <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        {% if category.sub_cat %}
                        <div class="card-body">
                            <div class="nested-cards">
                              <!-- Recursive Call to Render Subcategories -->
                              {% include 'admin_panel/category_card.html' with categories=category.sub_cat %}
                            </div>
                          
                          </div>
                          {% endif %}
                        <!-- /.card-body -->
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
  </div>


  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteCategoryModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Category</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          Are you sure you want to delete this category?
        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <script>
  $(document).ready(function () {

    // Handle delete button click
    $('.card-tools').on('click', '.delete-btn', function () {
      categoryIdToDelete = $(this).data('id');
      console.log('categoryIdToDelete: ', categoryIdToDelete)
      const checkAccessUrl = "{% url 'delete_category' %}";
      checkUserGroupInfo(checkAccessUrl).then(hasAccess => {
          if (hasAccess) {
              $('#deleteCategoryModal').modal('show');
          } else {
              toastr.error('Permission denied');
          }
      });
    });

    // Handle confirm delete button click
    $('#confirmDelete').on('click', function () {
      $.ajax({
        url: "{% url 'delete_category' %}",
        type: 'POST',
        data: {
          'category_id': categoryIdToDelete,
        },
        success: function (response) {
          if (response.status === 'success') {
            $('#deleteCouponModal').modal('hide');
            toastr.success(response.msg);
            window.location.reload(); // Reload the page to reflect changes
          } else {
            toastr.error(response.msg);
          }
        },
        error: function (xhr, status, error) {
          console.error('Failed to delete coupon:', error);
        }
      });
    });
    
    

  });
  </script>
{% endblock %}







{% comment %} {% extends 'admin_panel/base.html' %}
{% block title %}Category{% endblock %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Categories</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="categoryDataTable" class="table table-bordered table-striped">
                  <thead>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>





  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteCouponModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Coupon</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          Are you sure you want to delete this coupon?
        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>



  <script>

    $(document).ready(function () {

      $("#categoryDataTable").DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        dom: 'Bfrtip',
        buttons: [{
            text: "Add New Category",
            action: function (e, dt, node, config) {
              if (!config.clicked){
                window.location.href = "{% url 'add_category' %}";
              }
            },
        }],
        
      
        ajax: {
          url: "{% url 'get_all_categories' %}",
          type: "GET",
          dataType: "json",
          dataSrc: "",
        },
        columns:[
          { data:'index', title:'Sr.No'}, 
          { data:'name', title:'Name'}, 
          {
            data: null, title:'Action',
            render: function (data, type, row, meta) {
              return '<div class="d-flex">' +
                '<button class="btn btn-info btn mr-2 edit-btn" data-id="' + row.id + '"><i class="fa fa-edit"></i></button> ' +
                '<button class="btn btn-danger btn delete-btn" data-id="' + row.id + '"><i class="fa fa-trash" aria-hidden="true"></i></button>' +
                '</div>';
            }, 
          }
        ]
      });

    
    
    });

  </script>

  
{% endblock %} {% endcomment %}