<!-- templates/flatpages/flatpage_add.html -->

{% extends 'admin_panel/base.html' %}
{% block title %}
  Orders Update
{% endblock %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Update Order Status</h1>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <!-- Order Detail Section -->
                <div class="row">
                  <!-- Order Information Table -->
                  <div class="col-lg-6 col-md-12">
                    <div class="card card-outline card-success mb-3" style="overflow: hidden;">
                      <div class="card-header">
                        <h5 class="card-title">Order Details</h5>
                      </div>
                      <div class="card-body p-0">
                        <table class="table table-hover table-striped table-sm mb-0">
                          <tbody>
                            <tr>
                              <th scope="row">Order ID:</th>
                              <td>{{ order.id }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Coupon:</th>
                              <td>
                                {% if order.coupon %}
                                  {{ order.coupon }} ({{ order.coupon.code }})
                                {% else %}
                                  Not Applied
                                {% endif %}
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">Shipping Method:</th>
                              <td>{{ order.get_shipping_method_display }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Shipping Charges:</th>
                              <td>{{ order.shipping_charges }}</td>
                            </tr>
                            <tr>
                              <th scope="row" title="Reference Number">AWB Number:</th>
                              <td>{{ order.awb_no }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Order Status:</th>
                              <td class="bg-warning text-dark">{{ order.get_status_display }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <!-- Payment Details Table -->
                  <div class="col-lg-6 col-md-12">
                    <div class="card card-outline card-success mb-3" style="overflow: hidden;">
                      <div class="card-header">
                        <h5 class="card-title">Payment Details</h5>
                      </div>
                      <div class="card-body p-0">
                        <table class="table table-hover table-striped table-sm mb-0">
                          <tbody>
                            <tr>
                              <th scope="row">Payment Gateway:</th>
                              <td>{{ order.payment_gateway.name }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Payment ID:</th>
                              <td>{{ order.payment_id }}</td>
                            </tr>
                            <tr>
                              <th scope="row" style="word-break: break-all;">Transaction ID:</th>
                              <td>{{ order.transaction_id }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Payment Status:</th>
                              <td class="bg-success text-dark">{{ order.get_payment_status_display }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Order Information and Order Details Row -->

                <!-- Addresses in One Row -->
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <div class="card card-outline card-danger mb-4 shadow-sm">
                      <div class="card-header">
                        <h5 class="card-title mb-0">User Details</h5>
                      </div>
                      <div class="card-body">
                        <p>
                          <strong>First Name:</strong> {{ order.user.first_name }}
                        </p>
                        <p>
                          <strong>Last Name:</strong> {{ order.user.last_name }}
                        </p>
                        <p>
                          <strong>Username:</strong> {{ order.user.username }}
                        </p>
                        <p>
                          <strong>Email:</strong> {{ order.user.email }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="row">
                      <div class="col-12">
                        <div class="card card-outline card-primary mb-3">
                          <div class="card-header">
                            <h5 class="card-title">Billing Address</h5>
                          </div>
                          <div class="card-body">
                            <p>{{ order.billing_address }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="card card-outline card-primary mb-3">
                          <div class="card-header">
                            <h5 class="card-title">Shipping Address</h5>
                          </div>
                          <div class="card-body">
                            <p>{{ order.shipping_address }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Addresses Row -->

                <!-- Grand Total Card -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="card card-outline card-warning mb-4 shadow-sm">
                      <div class="card-header">
                        <h5 class="card-title mb-0">Product Details</h5>
                      </div>
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover table-striped table-sm mb-0">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">Product</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Amount</th>
                              <th scope="col">Total Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for detail in order.order_details.all %}
                              <tr>
                                <td>{{ detail.product }}</td>
                                <td>{{ detail.quantity }}</td>
                                <td>{{ detail.amount }}</td>
                                <td>
                                  {% widthratio detail.amount 1 detail.quantity %}
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="card card-outline card-danger mb-4 shadow-sm">
                      <div class="card-header">
                        <h5 class="card-title mb-0">Grand Total</h5>
                      </div>
                      <div class="card-body text-center">
                        <p class="text-muted">Subtotal: {{ order.get_sub_total|floatformat:2 }}</p>
                        <p class="text-success">Discount: {{ order.get_discount_amount|floatformat:2 }}</p>
                        <h3 class="text-danger">Grand Total: {{ order.grand_total|floatformat:2 }}</h3>
                      </div>
                    </div>
                  </div>
                  <!-- End Grand Total Card -->

                  <div class="col-md-6">
                    <div class="card card-outline card-danger shadow-sm">
                      <div class="card-header">
                        <h5 class="card-title">Update Order Status</h5>
                      </div>
                      <div class="card-body text-center">
                        <!-- Form Section -->
                        <form method="post">
                          {% csrf_token %}
                          <div class="form-group text-left">
                            {{ form.as_p }}
                            <div class="card-footer">
                              <button class="btn btn-primary" type="submit">Save</button>
                              <a href="{% url 'all_orders' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                          </div>
                          <!-- End Form Section -->
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- Include Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
