<!-- admin_panel/category_card.html -->
{% for subcategory in categories %}
  <div class="card card-outline card-secondary collapsed-card">
    <div class="card-header">
      <h3 class="card-title">{{ subcategory.name }}</h3>
      <div class="card-tools">
        {% if subcategory.sub_cat %}
          <button type="button" class="btn btn-tool text-dark" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
          <button type="button" class="btn btn-tool text-dark" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
          <a href="{% url 'update_category' subcategory.id %}" class="btn btn-info btn-sm mr-2 edit-btn"><i class="fa fa-edit"></i></a>
          <button class="btn btn-danger btn-sm delete-btn" data-id="{{ subcategory.id }}"><i class="fa fa-trash" aria-hidden="true"></i></button>
        {% else %}
          <a href="{% url 'update_category' subcategory.id %}" class="btn btn-info btn-sm mr-2 edit-btn"><i class="fa fa-edit"></i></a>
          <button class="btn btn-danger btn-sm delete-btn" data-id="{{ subcategory.id }}"><i class="fa fa-trash" aria-hidden="true"></i></button>
        {% endif %}
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    {% if subcategory.sub_cat %}
      <div class="card-body">
        <div class="nested-cards">
          {% include 'product_management/category_card.html' with categories=subcategory.sub_cat %}
        </div>
      </div>
    {% endif %}
    <!-- /.card-body -->
  </div>
{% endfor %}
