{% extends 'customer_portal/customer_base.html' %}
{% load static %}

{% block title %}
  Password Reset Sent
{% endblock %}

{% block content %}
  <div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="card p-4 shadow-lg" style="max-width: 500px;">
      <h1 class="mb-3 text-center">Password Reset Sent</h1>
      <p class="lead text-center">We've sent an email with a link to reset your password. Please check your inbox.</p>
    </div>
  </div>
{% endblock %}
